In [1]:
# Input, Enumerate, and Append

input('Name your favorite ice cream: ')

Name your favorite ice cream: mint chocolate chip

'mint chocolate chip'

In [2]:
ice_cream = input('Name your favorite ice cream: ')

print('My favorite ice cream is', ice_cream)

Name your favorite ice cream: chocolate fudge
My favorite ice cream is chocolate fudge

In [4]:
# Enumerate 

my_list = ['Monkey', 'Dog', 'Ferret']

list(enumerate(my_list, 5))

[(5, 'Monkey'), (6, 'Dog'), (7, 'Ferret')]

In [6]:
# Append

list_1 = [1,2,3]
another_value = 4

list_1. append(another_value)

print(list_1)

[1, 2, 3, 4]

In [7]:
list_1 = [1,2.3]
list_2 = [4,5,6]

list_1.append(list_2)

print(list_1)

[1, 2.3, [4, 5, 6]]

In [9]:
# Len 

my_list = [1,2,3,'Hey',6,9,31]

len(my_list)

7

In [10]:
my_dict = {1: 'Hey', 2: 'Hello'}

len(my_dict)

2

In [11]:
phone_numbers = ['10315663156', '7894561234', '1518616879654596464']

len(phone_numbers)

for num in phone_numbers:
    if len(num) == 10:
        print(num)

7894561234

In [13]:
phone_numbers = [10315663156, 7894561234, 1518616879654596464]

len(phone_numbers)

for num in phone_numbers:
    if len(str(num)) == 10:
        print(num)

7894561234

In [ ]:
# Range

range(start, stop, step)

In [14]:
range(10)

range(0, 10)

In [15]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [16]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [17]:
for num in range(0,100,2):
    print(num)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [18]:
# for any even number divisible by 3 using modulus

for num in range(0,100,2):
    if num % 3 ==0:
        print(num)

0
6
12
18
24
30
36
42
48
54
60
66
72
78
84
90
96

In [ ]:
# Round

In [19]:
round(205.76)

206

In [20]:
type(205.76)

float

In [21]:
round(205.76,2)

205.76

In [24]:
type(round(205.76,2))

float

In [25]:
round(1205.76,-2)

1200.0

In [26]:
# Slice 

my_list = [0,1,2,3,4,5,6,7]

my_list[0]

0

In [27]:
my_list[:7:2]

[0, 2, 4, 6]

In [30]:
my_slice = slice(0,7,2)

In [31]:
my_list[my_slice]

[0, 2, 4, 6]

In [32]:
my_list = [0,1,2,3,4,5,6,7]

In [35]:
my_slice = slice(-1,-9,-1)

my_list[my_slice]

[7, 6, 5, 4, 3, 2, 1, 0]

In [37]:
my_slice = my_list[::-1]

my_slice

[7, 6, 5, 4, 3, 2, 1, 0]

In [1]:
# Strip function 

name = '         Jimothy'

print(name)

         Jimothy

In [2]:
print(name.strip())

Jimothy

In [3]:
name = '........Jimothy........'

print(name.strip("."))

Jimothy

In [5]:
my_list = ['0Rocky Road', '1Chocolate', '2Strawberry']

new_list = [word.strip('0123456789') for word in my_list]

print(new_list)

['Rocky Road', 'Chocolate', 'Strawberry']

In [7]:
# Replace Function 

sentence = 'I.love.harmonicas.on.the.beach.'

sentence.replace('.',' ',5)

'I love harmonicas on the beach.'

In [8]:
random_text = 'I do not know, I do not know, I do not know!'

random_text.replace('I do not know','I do know')

'I do know, I do know, I do know!'

In [9]:
# Join Function 

my_list = ['I','love','you!']

' '.join(my_list)

'I love you!'

In [10]:
my_dict = {'one':'I','two':'Love','three':'You!'}

' '.join(my_dict.values())

'I Love You!'