In [1]:
def first_function():
    print('We did it!')

In [2]:
first_function()

We did it!

In [3]:
def second_function(name):
    print(name, 'did it!')

In [4]:
second_function('alex')

alex did it!

In [5]:
def number_squared_func(number,power):
    print(number**power)

In [6]:
number_squared_func(3,2)

9

In [7]:
def calculate_profit(selling_price, cost_price):
    profit = selling_price - cost_price
    return profit

price = 150
cost= 100
calculate_profit(price, cost)

50

In [ ]:
# Adding Docstrings 

print()

In [11]:
def test_func(name):
    """ This functions allow you to print your name. That's it.
    """
    print(name)

In [9]:
test_func('Alex')

Alex

In [12]:
# Default and Arbitrary Arguments 

def number_squared_func(number,power):
    print(number**power)

In [13]:
number_squared_func(2,3)

8

In [14]:
#Default Argument

def number_squared_func2(number,power = 3):
    print(number**power)
    
number_squared_func2(2)

8

In [19]:
# Arbitrary Arguments

args_tuple = (5,6,1,2,3,4)

def arg_func(*number):
    print(number[0]*number[1])
    
    arg_func(*args_tuple)

In [21]:
tuple_1 = ('John','Mikey','Sally')

def number_args(*word):
    print("Hello",word[1], " - Nice to meet you!")

In [22]:
number_args(*tuple_1)

Hello Mikey  - Nice to meet you!

In [23]:
def calculate_sum(*args):
  total_sum = sum(args)
  print(total_sum)


calculate_sum(5, 10, 15, 20)

50

In [1]:
#Keyword and Arbitrary Keyword Arguments

def number_squared_funct(number,power):
    print(number**power)

In [3]:
number_squared_funct(2,3)

8

In [4]:
number_squared_funct(power = 2, number = 3)

9

In [5]:
number_squared_funct(3, power = 2)

9

In [6]:
# **Kwargs

def number_kwargs(**kwargs):
    print(kwargs['Greeting'], kwargs['Name'])

In [8]:
number_kwargs(Greeting = 'Howdy!', Name = 'Alex')

Howdy! Alex

In [9]:
def number_kwargs2(**Names):
    for key, value in Names.items():
        print(key + ': ' + value)

In [11]:
number_kwargs2(Name = 'Alex', Name2 = 'Sally', Name3 = 'Josh')

Name: Alex
Name2: Sally
Name3: Josh

In [14]:
my_dict = {'1': 'Alex', 'Johnny': 'Hey', '3': 'Watermelon'}

In [15]:
number_kwargs2(**my_dict)

1: Alex
Johnny: Hey
3: Watermelon

In [16]:
def wild_function(one, *two, **three):
    print(one)
    
    print(two[0],two[2])
    
    print(three.items())

In [17]:
my_dict2 = {'One': 'Johnny','Two': 'Ebenezer', 'Three': 'Kanye'}

wild_function(23, *['Welp',24,'Howdy!'], ** my_dict2)

23
Welp Howdy!
dict_items([('One', 'Johnny'), ('Two', 'Ebenezer'), ('Three', 'Kanye')])

In [18]:
#Lambda Functions

lambda x: x * 2

In [19]:
(lambda x: x * 2)(5)

10

In [20]:
def real_func(x):
    print(x*2)
    
real_func(5)

10

In [21]:
# Print vs Return in Functions

def return_example():
    return 100

In [22]:
return_example()

100

In [26]:
type(return_example())

int

In [24]:
def print_example():
    print(100)

In [25]:
print_example()

100

In [27]:
# Doesn't store any value 

type(print_example())

100

NoneType

In [28]:
return_example() + 100

200

In [29]:
def happy_birthday(Name):
    return 'Happy Birthday ' + Name + "!"

In [30]:
happy_birthday('Johnny')

'Happy Birthday Johnny!'

In [34]:
def happy_birthday_print(Name):
    print('Happy Birthday ' + Name + "!")

In [35]:
happy_birthday_print('Johnny')

Happy Birthday Johnny!

In [36]:
message = happy_birthday('Johnny')

In [37]:
message

'Happy Birthday Johnny!'

In [38]:
message2 = happy_birthday_print('Johnny')

Happy Birthday Johnny!