In [1]:
for x in range(5):
    print(x)

0
1
2
3
4

In [7]:
# this produces a factorial of 9 

product = 1
for n in range (1, 10):
    product = product * n

print(product)

362880

In [9]:
# Converting to Celsius

def to_celsius(x):
    return (x-32) * 5/9

for x in range(0, 101, 10):
    print(x, to_celsius(x))

0 -17.77777777777778
10 -12.222222222222221
20 -6.666666666666667
30 -1.1111111111111112
40 4.444444444444445
50 10.0
60 15.555555555555555
70 21.11111111111111
80 26.666666666666668
90 32.22222222222222
100 37.77777777777778

In [10]:
num = 5
y = [1, 2,3]
for num in y:
    print(num)
    
print(num)

1
2
3
3

In [11]:
for i in range(3):
   print(i)

0
1
2

In [12]:
for n in range(2, 5):
   print(n)

2
3
4

In [13]:
for even_num in range(2, 11, 2):
   print(even_num)

2
4
6
8
10

In [14]:
students = [['Igor', 'Sokolov'], ['Riko', 'Miyazaki'], ['Tuva', 'Johansen']]
for student in students:
   for name in student:
       print(name)
   print()

Igor
Sokolov

Riko
Miyazaki

Tuva
Johansen