In [1]:
x = ['Now', 'we', 'are', 'cooking', 'with', 7, 'ingredients']
print(x[3])

cooking

In [2]:
x [1:3]

['we', 'are']

In [3]:
x[:2]

['Now', 'we']

In [4]:
x[2:]

['are', 'cooking', 'with', 7, 'ingredients']

In [5]:
'This' in x

False

In [6]:
fruits = ['pineapples','banana','apple','melon']
print(fruits)

['pineapples', 'banana', 'apple', 'melon']

In [7]:
fruits.append('kiwi')
print(fruits)

['pineapples', 'banana', 'apple', 'melon', 'kiwi']

In [8]:
fruits.insert(1,'orange')
print(fruits)

['pineapples', 'orange', 'banana', 'apple', 'melon', 'kiwi']

In [9]:
fruits.insert(0,'mango')
print(fruits)

['mango', 'pineapples', 'orange', 'banana', 'apple', 'melon', 'kiwi']

In [10]:
fruits.remove('banana')
print(fruits)

['mango', 'pineapples', 'orange', 'apple', 'melon', 'kiwi']

In [11]:
fruits.pop(2)
print(fruits)

['mango', 'pineapples', 'apple', 'melon', 'kiwi']

In [12]:
fruits[1] = 'mango'
print(fruits)

['mango', 'mango', 'apple', 'melon', 'kiwi']

In [14]:
power = '1.21'
power = power + ' gigawatts'
print(power)

1.21 gigawatts

In [16]:
power = [1.21, 'gigawatts']
power[0] = 2.21
print(power)

[2.21, 'gigawatts']

In [17]:
list_a = ['olive', 'palm', 'coconut']
print(list_a)

['olive', 'palm', 'coconut']

In [18]:
list_b = [8, 6, 7, 5, 3, 0, 8]
print(list_b)

[8, 6, 7, 5, 3, 0, 8]

In [19]:
list_c = ['Abidjan', 14.2, [1, 2, None], 'Zagreb']
print(list_c)

['Abidjan', 14.2, [1, 2, None], 'Zagreb']

In [20]:
empty_list_1 = []
empty_list_2 = list()

In [21]:
phrase = ['Astra', 'inclinant', 'sed', 'non', 'obligant']
print(phrase[1])

inclinant

In [22]:
phrase = ['Astra', 'inclinant', 'sed', 'non', 'obligant']
print(phrase[-1])

obligant

In [23]:
phrase = ['Astra', 'inclinant', 'sed', 'non', 'obligant']
print(phrase[1:4])

['inclinant', 'sed', 'non']

In [24]:
phrase = ['Astra', 'inclinant', 'sed', 'non', 'obligant']
print(phrase[:3])
print(phrase[3:])

['Astra', 'inclinant', 'sed']
['non', 'obligant']

In [25]:
my_list = ['Macduff', 'Malcolm', 'Duncan', 'Banquo']
my_list[2] = 'Macbeth'
print(my_list)

['Macduff', 'Malcolm', 'Macbeth', 'Banquo']

In [26]:
my_list = ['Macduff', 'Malcolm', 'Macbeth', 'Banquo']
my_list[1:3] = [1, 2, 3, 4]
print(my_list)

['Macduff', 1, 2, 3, 4, 'Banquo']

In [27]:
num_list = [1, 2, 3]
char_list = ['a', 'b', 'c']
num_list + char_list

[1, 2, 3, 'a', 'b', 'c']

In [28]:
list_a = ['a', 'b', 'c']
list_a * 2

['a', 'b', 'c', 'a', 'b', 'c']

In [29]:
num_list = [2, 4, 6]
print(5 in num_list)
print(5 not in num_list)

False
True

In [30]:
my_list = [0, 1, 1, 2, 3]
variable = 5
my_list.append(variable)
print(my_list)

[0, 1, 1, 2, 3, 5]

In [31]:
my_list = ['a', 'b', 'd']
my_list.insert(2, 'c')
print(my_list)

['a', 'b', 'c', 'd']

In [32]:
my_list = ['a', 'b', 'd', 'a']
my_list.remove('a')
print(my_list)

['b', 'd', 'a']

In [33]:
my_list = ['a', 'b', 'c']
print(my_list.pop())
print(my_list)

c
['a', 'b']

In [34]:
my_list = ['a', 'b', 'c']
my_list.clear()
print(my_list)

[]

In [35]:
my_list = ['a', 'b', 'c', 'a']
my_list.index('a')

0

In [36]:
my_list = ['a', 'b', 'c', 'a']
my_list.count('a')

2

In [37]:
char_list = ['b', 'c', 'a']
num_list = [2, 3, 1]
char_list.sort()
num_list.sort(reverse=True)
print(char_list)
print(num_list)

['a', 'b', 'c']
[3, 2, 1]

In [1]:
# Tuples

fullname = ['Masha', 'Z', 'Hopper']
fullname = tuple(fullname)
print(fullname)

('Masha', 'Z', 'Hopper')

In [2]:
def to_dollars_cents(price):
    '''
    Split price (float) into dollars and cents.
    '''
    dollars = int(price // 1)
    cents = round(price % 1 * 100)
    
    return dollars, cents

In [3]:
to_dollars_cents(6.55)

(6, 55)

In [4]:
dollars, cents = to_dollars_cents(6.55)

In [5]:
print(dollars + 1)
print(cents + 1)

7
56

In [6]:
type(dollars)

int

In [7]:
team = [('Marta', 20, 'center'),
       ('Ana', 22, 'point guard'),
       ('Gabi', 22, 'shooting guard'),
       ('Luz', 21, 'power forward'),
       ('Lorena', 19, 'small forward'),
       ]

for name, age, position in team:
    print(name)

Marta
Ana
Gabi
Luz
Lorena

In [8]:
for player in team:
    print(player[0])

Marta
Ana
Gabi
Luz
Lorena

In [9]:
empty_str = ''
my_string1 = 'minerals'
my_string2 = "martin"
my_string3 = """
marathon
golfcart
"""

In [10]:
my_string3 = """
marathon
golfcart
"""

my_string3

'\nmarathon\ngolfcart\n'

In [11]:
 empty_str = str()
my_string = str(125)

In [12]:
empty_list = []
my_list = [1, 2, 3, 4, 5]

In [13]:
print(list('rocks'))
print(list(('stones', 'water', 'underground')))

['r', 'o', 'c', 'k', 's']
['stones', 'water', 'underground']

In [14]:
my_list = [1, 2, 1, 2, 'And through', ['and', 'through']]

In [15]:
num_list = [1, 2, 3]
num_list[0] = 5446
print(num_list)

[5446, 2, 3]

In [16]:
empty_tuple = ()
my_tuple = (1, 'z')

In [17]:
test1 = (1)
test2 = (2,)

print(type(test1))
print(type(test2))

<class 'int'>
<class 'tuple'>

In [18]:
tuple1 = 1,
tuple2 = 2, 3

print(type(tuple1))
print(type(tuple2))

<class 'tuple'>
<class 'tuple'>

In [19]:
empty_tuple = tuple()
my_tuple = tuple([1, 'z'])

In [20]:
my_tuple = (1871, 'all', 'mimsy', ('were', 'the'), ['borogroves'])

In [22]:
# More with Loops, Lists, and Tuples

team = [('Marta', 20, 'center'),
       ('Ana', 22, 'point guard'),
       ('Gabi', 22, 'shooting guard'),
       ('Luz', 21, 'power forward'),
       ('Lorena', 19, 'small forward'),
       ]

def player_position(players):
    result = []
    for name, age, position in players:
        result.append('Name: {:>19} \nPosition: {:>15}\n'.format(name, position))
        
    return result

for player in player_position(team):
    print(player)

Name:               Marta
Position:          center

Name:                 Ana
Position:     point guard

Name:                Gabi
Position:  shooting guard

Name:                 Luz
Position:   power forward

Name:              Lorena
Position:   small forward

In [24]:
for left in range(7):
    for right in range(left, 7):
        print(f"[{left}|{right}]", end=" ")
    print('\n')

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6]

[1|1] [1|2] [1|3] [1|4] [1|5] [1|6]

[2|2] [2|3] [2|4] [2|5] [2|6]

[3|3] [3|4] [3|5] [3|6]

[4|4] [4|5] [4|6]

[5|5] [5|6]

[6|6]

In [25]:
dominoes = []
for left in range(7):
    for right in range(left, 7):
        dominoes.append((left, right))
dominoes

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 5),
 (5, 6),
 (6, 6)]

In [26]:
dominoes[4][1]

4

In [27]:
pips_from_loop = []
for domino in dominoes:
    pips_from_loop.append(domino[0] + domino[1])
print(pips_from_loop)

[0, 1, 2, 3, 4, 5, 6, 2, 3, 4, 5, 6, 7, 4, 5, 6, 7, 8, 6, 7, 8, 9, 8, 9, 10, 10, 11, 12]

In [28]:
# List Comprehension

pips_from_list_comp = [domino[0] + domino[1] for domino in dominoes]

pips_from_loop == pips_from_list_comp

True

In [29]:
cities = ['Paris', 'Lagos', 'Mumbai']
countries = ['France', 'Nigeria', 'India']
places = zip(cities, countries)


print(places)
print(list(places))

<zip object at 0x0000010FF4ED2E00>
[('Paris', 'France'), ('Lagos', 'Nigeria'), ('Mumbai', 'India')]

In [30]:
scientists = [('Nikola', 'Tesla'), ('Charles', 'Darwin'), ('Marie', 'Curie')]
given_names, surnames = zip(*scientists)
print(given_names)
print(surnames)

('Nikola', 'Charles', 'Marie')
('Tesla', 'Darwin', 'Curie')

In [31]:
letters = ['a', 'b', 'c']
for index, letter in enumerate(letters):
   print(index, letter)

0 a
1 b
2 c

In [32]:
letters = ['a', 'b', 'c']
for index, letter in enumerate(letters, 2):
   print(index, letter)

2 a
3 b
4 c

In [33]:
numbers = [1, 2, 3, 4, 5]
new_list = [x + 10 for x in numbers]
print(new_list)

[11, 12, 13, 14, 15]

In [34]:
words = ['Emotan', 'Amina', 'Ibeno', 'Sankwala']
new_list = [(word[0], word[-1]) for word in words if len(word) > 5]
print(new_list)

[('E', 'n'), ('S', 'a')]