In [1]:
'Hello' + 'world'

'Helloworld'

In [3]:
'Hello ' + 'world'

'Hello world'

In [5]:
greeting_1 = 'Hello '
greeting_2 = 'world'
greeting_1 + greeting_2

'Hello world'

In [7]:
danger = 'Danger! '
danger * 3

'Danger! Danger! Danger! '

In [8]:
quote = '"Thank you for pressing the self-destruct button."'
print(quote)

"Thank you for pressing the self-destruct button."

In [10]:
quote = "\"It's dangerous to go alone!\""
print(quote)

"It's dangerous to go alone!"

In [11]:
# \n is a new line

greeting = "Good day, \nsir."
print(greeting)

Good day,
sir.

In [12]:
newline = "\\n represents a newline in Python."
print(newline)

\n represents a newline in Python.

In [13]:
python = 'Python'
for letter in python:
    print(letter + 'ut')

Put
yut
tut
hut
out
nut

In [15]:
pets = 'cats and dogs'
pets.index('s')

3

In [20]:
name = 'Jolene'
name[0]

'J'

In [21]:
name = 'Jolene'
name[5]

'e'

In [18]:
sentence = 'A man, a plan, a canal, Panama!'
sentence[-1]

'!'

In [19]:
sentence = 'A man, a plan, a canal, Panama!'
sentence[-2]

'a'

In [22]:
# String Slice 

color = 'orange'
color[1:4]

'ran'

In [23]:
fruit = 'pineapple'
fruit[:4]

'pine'

In [24]:
fruit[4:]

'apple'

In [25]:
# Confirmng if substring is in string 

'bananna' in fruit

False

In [26]:
'apple' in fruit

True

In [27]:
my_string = 'Mississippi half-step'
print(my_string[0])

my_list = [1, 'unladen', 'swallow']
print(my_list[1])

print(my_list[-1])

M
unladen
swallow

In [29]:
new_string = 'pining for the fjords'
print(new_string[0:3])
print(new_string[:3])

pin
pin

In [30]:
new_string = 'pining for the fjords'
print(new_string[6:21])
print(new_string[6:])
print(len(new_string))

 for the fjords
 for the fjords
21

In [31]:
new_string = 'pining for the fjords'
print(new_string[6:100])

 for the fjords

In [34]:
# Format strings

name = 'Manuel'
number = 3
print('Hello {}, your lucky number is {}.'.format(name, number))

Hello Manuel, your lucky number is 3.

In [35]:
name = 'Manuel'
number = 3
print('Hello {name}, your luck number is {num}.'.format(num=number, name=name))

Hello Manuel, your luck number is 3.

In [36]:
print('Hello {1}, your lucky number is {0}.'.format(number, name))

Hello Manuel, your lucky number is 3.

In [39]:
price = 7.75
with_tax = price * 1.07
print('Base price: ${:.2f} USD. \n With tax: ${:.2f} USD.'.format(price, with_tax))

Base price: $7.75 USD.
 With tax: $8.29 USD.

In [41]:
def to_celsius(x):
    return (x-32) * 5/9

for x in range(0, 101, 10):
    print("{:>3} F | {:>6.2f} C'".format(x, to_celsius(x)))

  0 F | -17.78 C'
 10 F | -12.22 C'
 20 F |  -6.67 C'
 30 F |  -1.11 C'
 40 F |   4.44 C'
 50 F |  10.00 C'
 60 F |  15.56 C'
 70 F |  21.11 C'
 80 F |  26.67 C'
 90 F |  32.22 C'
100 F |  37.78 C'

In [42]:
x = 'values'
y = 100

print('''String formatting lets you insert {} into strings.
They can even be numbers, like {}.'''.format(x, y))

String formatting lets you insert values into strings.
They can even be numbers, like 100.

In [43]:
var_a = 'A'
var_b = 'B'
print('{a}, {b}'.format(b=var_b, a=var_a))

A, B

In [44]:
var_a = 'A'
var_b = 'B'
print('{1}, {0}'.format(var_a, var_b))
print('{0}, {1}'.format(var_a, var_b))

B, A
A, B

In [45]:
print('{}, {}, {}, {}, {}, {} ...'.format(1, 2, 3, 4, 5, 6))

1, 2, 3, 4, 5, 6 ...

In [46]:
print('{0}{1}{0}'.format('abra', 'cad'))

abracadabra

In [47]:
var_a = 1
var_b = 2
print(f'{var_a} + {var_b}')
print(f'{var_a + var_b}')
print(f'var_a = {var_a} \nvar_b = {var_b}')

1 + 2
3
var_a = 1
var_b = 2

In [48]:
num = 1000.987123
f'{num:.2f}'

'1000.99'

In [49]:
num = 1000.987123
print(f'{num:.3e}')

decimal = 0.2497856
print(f'{decimal:.4%}')

1.001e+03
24.9786%

In [50]:
my_string = 'Happy birthday'

print(my_string.count('y'))
print(my_string.count('y', 2, 7))

2
1

In [51]:
my_string = 'Happy birthday'

my_string.find('birth')

6

In [52]:
separator_string = ' '
iterable_of_strings = ['Happy', 'birthday', 'to', 'you']

separator_string.join(iterable_of_strings)

'Happy birthday to you'

In [53]:
my_string = 'https://www.google.com/'

my_string.partition('.')

('https://www', '.', 'google.com/')

In [54]:
my_string = 'https://www.google.com/'

my_string.replace('google', 'youtube')

'https://www.youtube.com/'

In [55]:
my_string = 'Do you know the muffin man?'

my_string.split()

['Do', 'you', 'know', 'the', 'muffin', 'man?']

In [57]:
import re

my_string = 'Three sad tigers swallowed wheat in a wheat field'

re.search('wall', my_string)

In [58]:
import re

my_string = 'Three sad tigers swallowed wheat in a wheat field'

re.search('[bms]ad', my_string)